/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the dynamic background */
body {
  background-image: linear-gradient(to bottom right, #417647, #262730);
}

a {
  text-decoration: none;
  color: white;
}

/* Style the header */
header {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-image {
  flex: 1 1 300px;
  margin-right: 30px;
}

.header-image img {
  width: 100%;
  border-radius: 50%;
}

.header-info {
  flex: 1 1 300px;
  color: #fff;
  text-align: center;
}

.header-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header-info p {
  font-size: 18px;
}

/* Style the main sections */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: #fff;
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

/* Style the project cards */
.project {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project h3 {
  color: #fff;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 20px;
}

.project-image {
  text-align: center;
}

.project-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style the footer */
footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style the navbar */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #79b38e;
  text-decoration: none;
  font-size: X-LARGE;
  font-family: cursive;
}

/* Style the About section */
#about {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
}

#about h2 {
  color: #fff;
  margin-bottom: 20px;
}

#about p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Add the Google Fonts stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
